<ion-tabs class="tabs-top tabs-icon-only tabs-balanced">
    <ion-tab icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-information-circled" href="#/tab/actions">
        <ion-nav-view name="actions-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-gear-a" href="#/tab/buttons">
        <ion-nav-view name="buttons-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-navicon" href="#/tab/left">
        <ion-nav-view name="left-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>