<ion-tabs class="tabs-top tabs-icon-only tabs-balanced">
    <ion-tab icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-information-circled" href="#/tab/page1">
        <ion-nav-view name="page1-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-gear-a" href="#/tab/page2">
        <ion-nav-view name="page2-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-navicon" href="#/tab/left">
        <ion-nav-view name="left-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>