<ion-tabs class="tabs-top tabs-striped tabs-icon-top tabs-background-stable tabs-color-active-calm">
    <ion-tab title="Home" 
             icon="mdl2-home" 
             ui-sref="tabs.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Actions" 
             icon="mdl2-comment-legacy" 
             ui-sref="tabs.actions">
        <ion-nav-view name="actions-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Buttons" 
             icon="mdl2-repair" 
             ui-sref="tabs.buttons">
        <ion-nav-view name="buttons-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" 
             icon="mdl2-list" 
             ui-sref="tabs.left">
        <ion-nav-view name="left-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>