// Lib
@import 'lib/ionic/release/css/ionic';
@import "helpers/variables";

// themes
@import "themes/brand";

// Styles
@font-face {
  font-family: Ionicons;
  src: url(../fonts/lib/ionic/release/fonts/ionicons.eot?v=1.4.1);
  src: url(../fonts/lib/ionic/release/fonts/ionicons.eot?v=1.4.1#iefix) format("embedded-opentype"), url(../fonts/lib/ionic/release/fonts/ionicons.ttf?v=1.4.1) format("truetype"), url(../fonts/lib/ionic/release/fonts/ionicons.woff?v=1.4.1) format("woff"), url(../fonts/lib/ionic/release/fonts/ionicons.svg?v=1.4.1#Ionicons) format("svg");
  font-weight: 400;
  font-style: normal; 
}