App/bld/
.vs/
App/bin/
App/*.sln.ide
App/Appp.v14.suo
App/*.jsproj.user
App/.vs/
App/scripts/lib
App/platforms
App/www/js/**/*.js
App/www/js/**/*.map
App/www/fonts/lib
App/www/scripts
App/scss/lib
Test/obj/
Test/node_modules
Test/.ntvs_analysis.dat
Test/.ntvs_analysis.dat.temp
Test/bower_components
Visual Studio Template/bin/
Visual Studio Template/obj/
App/www/css/main.css
App/www/css/platform.css
App/node_modules/
App/bower_components
App/scripts/www/scripts/appbundle.js
App/scripts/www/scripts/appbundle.js.map
App/app/typings/
App/www/modules/
App/typings/
App/www/fonts/
App/scss/vendor/
App/www/libs/
App/www/debug/
