App/bld/
App/bin/
App/*.sln.ide
App/Appp.v14.suo
App/*.jsproj.user
App/.vs/
App/ts/lib
App/ts/**/*.js
App/ts/**/*.map
App/fonts/lib
App/scss/lib
Node/node_modules
Node/.ntvs_analysis.dat
Node/.ntvs_analysis.dat.temp
Node/bower_components