// Colors
$Color-Brand-main: #1AA8D0;
$Color-Brand-secondary: #DB8718;

$Color-Background-dark: #454545;
$Color-Background-dimmed: #F7F7F7;
$Color-Background-light: #FFFFFF;

$Color-Foreground-dark: #000000;
$Color-Foreground-dimmed: #8B8B8B;
$Color-Foreground-light: #FFFFFF;

$Color-Border-dimmed: #CAC6C6;