<ion-view view-title="Home">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" 
                       placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" 
                       placeholder="Last Name">
            </label>
        </div>

        <div class="padding">
            <a class="button button-block button-positive icon icon-right ion-chevron-right" ui-sref="tabs.scroll">Submit</a>
        </div>
    </ion-content>
</ion-view>