<ion-view view-title="Buttons">
    <ion-content class="padding">
        <h1>Buttons</h1>

        <button class="button button-block button-light">button-light</button>
        <button class="button button-block button-stable">button-stable</button>
        <button class="button button-block button-positive">button-positive</button>
        <button class="button button-block button-assertive">button-assertive</button>
        <button class="button button-block button-balanced">button-balanced</button>
        <button class="button button-block button-energized">button-energized</button>
        <button class="button button-block button-calm">button-calm</button>
        <button class="button button-block button-royal">button-royal</button>
        <button class="button button-block button-dark">button-dark</button>

    </ion-content>
</ion-view>