/* Transform buttons right in action bar*/
ion-header-bar .buttons-right {
    background-color: #f8f8f8;
    position: absolute !important;
    top: 94vh !important;
    left: 0;
    width: 100%;
    height: 7vh !important;
    margin: 0;
}

@media only screen and (orientation: landscape) {

    ion-header-bar .buttons-right {
        top: 89vh !important;
        height: 12vh !important;
    }
}

ion-header-bar .buttons-right .right-buttons {
    bottom: 7px;
    padding: 0 2px;
    position: absolute;
    right: 0px !important;
    bottom: 1vh;
}

.title.title-left.header-item {
    left: 0 !important;
    transform: none !important;
    width: 100%;
}
.tabs-top > .tabs, .tabs-top.tabs {
    top: 10px !important;
}

ion-content.has-tabs-top {
    top: 60px !important;
}

ion-tabs .icon::before{
    font-size: 0.8em;
}

ion-tabs .tab-title {
    font-size: 1.2em;
    display: block;
    margin-top: -0.6em;
}

.tab-nav.tabs {
    padding: 0 5%;
}

ion-nav-bar, ion-nav-bar ion-header-bar, ion-nav-bar ion-header-bar .title {
    height: 10px !important;
}

.scroll {
    padding-bottom: 7vh;
}