/* Transform buttons right in action bar*/
ion-header-bar .buttons-right {
    background-color: #FFF;
    position: absolute !important;
    top: 93vh !important;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
}

ion-header-bar .buttons-right .right-buttons {
    margin: 0 auto;
}

.title.title-left.header-item {
    left: 0 !important;
    transform: none !important;
    width: 100%;
}