<ion-tabs class="tabs-icon-top tabs-balanced">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Actions" icon="ion-ios-information-outline" href="#/tab/actions">
        <ion-nav-view name="actions-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Buttons" icon="ion-ios-gear-outline" href="#/tab/buttons">
        <ion-nav-view name="buttons-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>